* {
	font-family: Verdana;
}

h1 {
	color: rgb(0, 0, 128);
}

.gris {
	color: rgb(192, 192, 192);
}

.azul {
	color: rgb(128, 192, 255);
}

.paso {
	font-style: italic;
}

.busqueda {
	color: rgb(128, 128, 128);
	font-size: 80%;
}

fieldset {
	width: 60%;
	min-width: 300px;
	max-width: 800px;
	border-color: rgb(128, 192, 255);
}

table {
	width: 100%;
}