body {
	font-family: Verdana;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(0, 0, 128);
}

.gris {
	color: rgb(192, 192, 192);
}

.azul {
	color: rgb(128, 192, 255);
}

.paso {
	font-style: italic;
}

.busqueda {
	color: rgb(128, 128, 128);
	font-size: 80%;
}

fieldset {
	max-width: 900px;
	border-color: rgb(128, 192, 255);
}

th {
	padding-right: 20px;
	text-align: right;
	vertical-align: top;
}

table .buttons {
	padding-top: 20px;
}

#resultado {
	border: 1px solid rgb(128, 128, 128);
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

#resultado th, #resultado td {
	padding: 3px 5px;
	text-align: center;
}

td.color0 {
	background-color: #d0ffa0;
}

td.color1 {
	background-color: #f0ffa0;
}
