body {
	font-family: Verdana;
}

table {
	padding-bottom: 50px;
}

td {
	font-family: monospace;
	padding: 0px 5px;
}

tr:hover {
	background-color: rgb(240, 240, 240);
}

pre {
	tab-size: 4;
	display: inline;
}

td {
	vertical-align: bottom;
}

abbr {
	padding: 3px 1px 1px;
}

abbr.type {
	background-color: rgb(255, 255, 128);
}

abbr.user.read {
	background-color: rgba(192, 255, 128, 0.4);
}

abbr.user.write {
	background-color: rgba(192, 255, 128, 0.7);
}

abbr.user.execute {
	background-color: rgba(192, 255, 128, 1);
}

abbr.group.read {
	background-color: rgba(128, 192, 255, 0.4);
}

abbr.group.write {
	background-color: rgba(128, 192, 255, 0.7);
}

abbr.group.execute {
	background-color: rgba(128, 192, 255, 1);
}

abbr.other.read {
	background-color: rgba(255, 128, 255, 0.4);
}

abbr.other.write {
	background-color: rgba(255, 128, 255, 0.7);
}

abbr.other.execute {
	background-color: rgba(255, 128, 255, 1);
}

button {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
}
button:hover {
    cursor: pointer;
}
